@model string
@{
    ViewData["Title"] = "BadRequest";
}

<div class="container-fluid" style="padding-top: 50px;">
    <div class="alert alert-warning" role="alert">
        <h2 class="alert-heading">خطا !</h2>
        <h5>@Model</h5>
        <hr>
        <p class="mb-0">جهت اطلاعات بیشتر با پشتیبانی تماس حاصل نمایید.</p>
    </div>
</div>