@{
    Layout = null;
}
<br/>
<br/>
<br/>
<br/>
<div class="alert alert-success movetopage">
    خطایی رخ داد
</div>
<br/>
<div class="alert alert-success movetopage">
    @ViewBag.Message
</div>
<br/>
<br/>
<br/>