@model Transaction
@{
    ViewData["Title"] = "تایید پرداحت";
}
<html>
<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="display:flex">

    <div class="container-fluid" style="margin: 20px auto; align-self: center; width: auto; text-align: center;">
        <div class="alert alert-info" role="alert">
            <p>
                برای پرداخت مبلغ @Model.Amount.ToString("###,###,###,##0 ریال") 
                به حساب @Model.Application.Title بر روی پرداخت کلیک کنید.
            </p>
            <a href="/Pay/Go/@Model.Id" class="btn btn-success">پرداخت</a>

        </div>
    </div>

</body>
</html>