@model Transaction
@{
    ViewData["Title"] = "BadRequest";
}
<html>
<head>
    <link href="~/css/bootstrap.css" rel="stylesheet" />
</head>
<body style="display:flex">

    <div class="container-fluid" style="margin: 20px auto; align-self: center; width: auto; text-align: center;">
        <div class="alert alert-info" role="alert">
            <p>
                برای پرداخت مبلغ @Model.Amount به حساب @Model.Application.Title بر روی پرداخت کلیک کنید.
            </p>
            <form method="post" asp-action="Go">
                <input type="hidden" value="@Model.Id" />
                <button type="submit" class="btn btn-success">پرداخت</button>
            </form>
        </div>
    </div>

</body>
</html>