@model Adin.BankPayment.Domain.Model.Transaction
@{
    Layout = null;
}
<form action="@Model.Bank.PostUrl" method="POST" id="frmSendToBank">        
    <input type="hidden" name="RefId" value="@ViewBag.RefId" />
</form>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="alert alert-success movetopage">
    در حال انتقال به درگاه پرداخت بانک...
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<script type="text/javascript">
    document.getElementById("frmSendToBank").submit();
</script>
