@{
    Layout = null;
}


<br />
<br />
<br />
<br />
<div class="alert alert-success movetopage">
    تراکنش با موفقیت انجام شد
</div>
<br />
<div class="alert alert-success movetopage">
    @ViewBag.TrackCode
</div>
<br />
<br />
<br />
<br />
