@{
    ViewData["Title"] = "Test";
}

<div class="row">
    <div class="col-md-12">
        <a href="/Home/GotoBankPage?id=1">نمونه مثال درگاه سامان</a>
        <br/>
        <a href="/Home/GotoBankPage?id=2">نمونه مثال درگاه پارسیان</a>
        <br/>
        <a href="/Home/GotoBankPage?id=3">نمونه مثال درگاه ملت</a>
    </div>

</div>